
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');
body{
    background-color: #f2f2f2;
    margin: 0;

}
.main{
    overflow: hidden;
    font-family: 'Quicksand', serif;
    height: 100vh;
    
    /*width: 100vw;*/
    display: flex;
    flex-direction: column;
   /* gap: 10px;*/
    /*gap: 10px;*/
    align-items: center;
   /* justify-content: center;*/
  /* background-color: rgb(207, 207, 207);*/
}

.logo-bg{
    width: 100% !important;
    height: 30%;
    min-height: 30%;
    background-color: #008fc7;
   /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgcS-FPNqk3R5XvtlZUWkxwDfKMKbaTvAh5w&s');*/
    background-repeat: no-repeat;
    background-size: cover;
}
.image-back{
    position: absolute;
    z-index: -1;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
    width: 100%;
    overflow: hidden;
}
.image-back img{
 
    height: 60% !important;
    position: absolute;
   right: -12%; 
}
pre{
    display: flex;
    align-items: center;
    justify-content: center;
}
.position{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-pic{
    position: absolute;
        top: calc(42% - 100px);
    align-self: end;
    justify-content: center;
    align-items: center;
    border-radius: 360px;
    /*background-color: aqua;*/
    margin-left: calc(50% - 100px);
    height: 200px;
    width: 200px;
    background-image: url('https://www.itba3li.com/wp-content/uploads/2025/05/Doha-Abdelkhaleq.png');
    background-repeat: no-repeat;
    background-size: cover;

}
.st0{
    height: 100% !important;
}
.logo{
    width: 100%;
    height: 12%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-link{
    height: 20%;
    margin-top: 2% ;
}
.name{
    margin-top: 50px;
    font-size: 30px;
    font-weight: 20px;
}

.contact{
    margin-top: 20px;
    background-color: #e5a552;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s ease;

}

.icon{
    height: 70px;
    width: 70px ;
    background-color:white;
    border: none;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 360px;
    text-decoration: none;
    color: black;
    transition: 0.5s ease;

}
.icon a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    height: 100%;
    overflow: hidden;
    border-radius: 360px;
    width: 100%;
}
.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    gap: 10px;
    margin-top: 20px;
}
.save-contact{
    text-decoration: none;
    color: black;
}

svg{
    width: 50% ;
}
.mail{
    border-radius: 360px;
    background-color: #EA4335;
}
.whatsApp{
    background-color: #25D366;
}
.linkedin{
    background-color: rgb(0, 92, 191);
}
.phone{
    background-color: white;
}
.facebook{
    background-color: #4273bb;
}
.twitter{
    background-color: black;
}
.insta{
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
      
}
.website{
    background: #1666DF;
    background: linear-gradient(45deg, #1666DF 0%, #00d0c0 100%); 
    background: -moz-linear-gradient(45deg, #1666DF 0%, #00d0c0 100%); 
  
      
}
.bi-instagram{
    color: white;
}

.bi-twitter-x{
    color: white;
}
.e-far-envelope{
    color: white !important;
}
.icon:hover{
    transition: 0.5s ease;
    transform: scale(1.3);
    overflow: visible;
}
svg .st10{
    width: 60% !important;
    color: white;
}
.contact:hover{
    transition: 0.5s ease;
    transform: scale(1.3);
}
@media (max-width: 720px) {

.main{
   
}

.logo-link{
    height: 20%;
    margin-top: 12%;
}

    .logo-bg{
min-height: 25%;
        max-height: 25% !important;
        height: 25% !important;
    }

    .profile-pic{
        position: absolute;
        top: calc(37% - 75px);
        margin-left: calc(50% - 75px);

    height: 150px;
    width: 150px;
}

.name{
    margin-top: 50px;
    font-size: 30px;
    font-weight: 20px;
}
.icon{
    height: 40px;
    width: 40px;
}
}

body{
    position: relative;
}

.bottom{
    position: absolute;
    height: 12%;
    width: 100vw;
    background-color: #07beb9;
    bottom: 0;
    left: 0;
}
